/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {

}

.pote-share {
  display: flex;
  height: 110px;
  justify-content: space-between;;
  background-color: #00aaff;
}

.title {
  color: #fff;
}

.user {
  display: flex;
}

.user h3 {
  margin: 20px;
}

button {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: black;
}

.dropdwn {
  margin: 0;
}

#dropdwn_menu  {
  display: none;
  border: 1px solid black;
  background-color: #ddd;
}

.btn {
  margin-right: 80px;
}

.menuList {
  text-decoration: none;
  color: #000;
}

.container {
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #00aaff;
  width: 100%;
}

footer p {
  text-align: center;
  color: #fff;
}
