// Place all the styles related to the bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon {
  border-radius: 50%;
  width: auto;
  overflow: hidden;
}

.shared {
  display: flex;
}

.account-profile {
  margin-top: 100px;
  margin-left: 400px;
}

.profile-image {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

.room-register {
  text-align: center;
}

.field {

}
