// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-info-reserve {
  text-align: center;
}

.room-main {
  display: flex;
}

.info-area li img {
  width: 100%;
}
