<div class="shared">
  <%= render "shared/profile" %>


  <div class="account-profile">
    <h2>アカウント</h2>
    <ul>
      <li>メールアドレス :<%= current_user.email %></li>
      <li>パスワード :<%= current_user.encrypted_password %></li>
    </ul>

    <h3><%= link_to "更新", :edit_user_registration %></h3>
  </div>
</div>
